@media print {
    h1:not(:first-child) {
        page-break-before: always;
    }

    .codehilite {
        page-break-inside: avoid;
    }

    body {
        background-color: #fff !important;
    }

    body > *:not(#page),
    #page > *:not(#wrapper),
    #wrapper > *:not(#content),
    #content > *:not(.aui-page-panel),    
    #repo-content > *:not(#wiki),
    #wiki > *:not(#wiki-content) {
        display: none;
    }

    #content .aui-page-panel,
    #repo-content,
    #wiki-content {
        padding: 0px;
        margin: 0px;
        border: 0px;
    }
}
